---
layout: default
---

<div class="text-center">
  {% include icon.html name="terminal" size="xl" %}
</div>


<div class="card-columns">
  {% for project in site.data.projects %}
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">{{ project.name }}</h4>

        {% if project.language %}
          <h6 class="card-subtitle mb-2 lang-{{ project.language }}">{{ project.language | capitalize }}</h6>
        {% endif %}

        <p class="card-text">{{ project.description }}</p>
        <a class="card-link" href="{{ project.repo }}">
          {% include icon.html name="mark-github" %}
        </a>

        {% if project.link %}
          <a class="card-link" href="{{ project.link }}">
            {% include icon.html name="browser" %}
          </a>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>
