{% assign post = include.post %}

<article class="post" id="{{ post.slug }}">
  <header class="post-header">
    <h1>
      {{ post.title }}
      {% if include.showLink %}
        <a href="#{{ post.slug }}">{% include icon.html name="link" %}</a>
      {% endif %}
    </h1>

    <div class="post-date">
      {% include icon.html name="calendar" size="md" %}
      <time>{{ post.date | date: "%B %-d, %Y" }}</time>
    </div>
  </header>

  <section class="post-content">
    {{ post.content }}
  </section>
</article>
