a {
  color: $secondary;
  font-weight: bold;
  transition: color 0.25s;

  &:hover {
    color: lighten($secondary, 20%);
    text-decoration: none;
  }
}

h1, h2, h3 {
  color: $theme;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
}

h4, h5, h6 {
  color: $theme;
}

pre {
  background-color: lighten($backgroundColor, 2%);
  border-radius: 4px;
  border: 1px solid lighten($foregroundColor, 50%);
  font-size: 13px;
  padding: 8px;
}

strong {
  color: darken($foregroundColor, 10%);
}

svg {
  color: inherit;
  fill: currentColor;
  vertical-align: middle;
}

ul {
  list-style: none;
}
