a {
  color: $secondary;
  font-weight: bold;
  transition: color 0.25s;

  &:hover {
    color: lighten($secondary, 20%);
    text-decoration: none;
  }
}

h1, h2, h3 {
  color: $theme;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
}

h4, h5, h6 {
  color: $theme;
}

strong {
  color: darken($foregroundColor, 10%);
}

ul {
  list-style: none;
}
