.post {
  margin-bottom: 40px;

  img {
    border-radius: 8px;
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }

  .post-header {
    margin-bottom: 10px;

    h1 {
      > a {
        display: none;
      }

      &:hover > a {
        display: initial;
      }
    }

    small {
      color: $accent;
    }
  }
}

.posts-index {
  margin-bottom: 40px;
  padding-left: 0;

  .post-date {
    display: block;
    opacity: 0.6;
  }

  .post-listing {
    margin-bottom: 8px;

    > a {
      font-size: 20px;
    }
  }
}

.show-all {
  color: $theme;

  &:hover {
    color: lighten($theme, 20%);
  }
}
