.post {
  margin-bottom: 40px;

  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }

  .post-header {
    margin-bottom: 10px;

    h1 {
      > a {
        display: none;
      }

      &:hover > a {
        display: initial;
      }
    }

    small {
      color: $accent;
    }
  }
}

.posts-index {
  margin-bottom: 40px;

  .post-listing {
    margin-bottom: 5px;
  }
}

.show-all {
  color: $theme;

  &:hover {
    color: lighten($theme, 20%);
  }
}
