---
layout: default
---

{% include post.html post=page %}

{% if page.next or page.previous %}

<div class="post-links">
  <ul>
    {% if page.previous %}
      <li>
        <a href="{{ page.previous.url }}" rel="prev" title="Previous Post">
          {% include icon.html name="hand-left" %}
        </a>
      </li>
    {% endif page.previous %}

    {% if page.next %}
      <li>
        <a href="{{ page.next.url }}" rel="next" title="Next Post">
          {% include icon.html name="hand-right" %}
        </a>
      </li>
    {% endif %}
  </ul>
</div>
{% endif %}
